#portrait {
    margin-left: 100px;
    margin-right: 30px;
    flex: 0 0 auto;
    max-width: 33%;
    float: left;
}

#descMe {
    color: lightgray;
    margin-left: 30px;
    margin-right: 100px;
    text-align: justify;
    font-family: "Consolas", monospace;
}