#aboutMeHeader {
    margin-top: 20px;
    color: white;
    font-family: "D2Coding", "Consolas", monospace;
}

#portrait {
    margin-left: 150px;
    margin-right: 30px;
    flex: 0 0 auto;
    max-width: 33%;
    float: left;
}

#descMe {
    color: lightgray;
    margin-left: 30px;
    margin-right: 150px;
    text-align: justify;
    font-family: "Consolas", monospace;
    font-size: 1.2em;
}

@media (max-width: 600px) {
    #portrait {
        float: none;
    }
    
    #descMe {
        
    }
}