#githubContent {
    color: lightgray;
    font-family: D2Coding, "Consolas", monospace;
    margin-left: 75px;
}

#avatar {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.profile-text {
    margin-left: 25%;
    padding-bottom: 4px;
}

#name { margin-bottom: 5px; }
#bio { margin-bottom: 15px; margin-left: 27%; }

h3 {
    color: white;
    font-family: "Consolas", monospace;
    font-weight: bolder;
    
    width: 300px;
    left: 50%; right: 50%;
    margin-left: 100px;
    margin-bottom: 20px;
}

#commitHistoryGraph {
    margin-left: 50px;
}

@media (max-width: 600px) {
    #avatar {
        float: none;
    }
    .profile-text, #githubCommitActivity {
        margin-left: 0;
    }
}